body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box; /* Ensures padding is included in the element's total width and height */
    width: 100%; /* Ensure main takes the full width */
}

img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px; /* Adds some space between the image and the text */
}

p {
    margin: 0;
    padding: 0 10px; /* Adds padding to ensure text doesn't touch the edges on mobile */
    max-width: 100%;
}